canvas{
    background-color:burlywood;
    border: 5px solid rgb(20, 113, 220);
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgb(37, 6, 66);
}
.heading{
    font-size: 24px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 10px turquoise;
}
.note{
font-size: 15px;
color: yellow;
}
.footer{
    position: fixed;
    color:cornsilk;
    background-color: black;
    width: 100%;
    line-height:3;
    text-align: center;
    bottom: 0;
    box-shadow: 10px -10px 30px turquoise
}